<?xml version="1.0" encoding="utf-8"?>
<ArrayOfFileInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>jasim</UserName>
    <CID>ca7d5e1a-997c-471b-95f9-975eea44ee74</CID>
    <Start>10:07:15 AM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>jasim</UserName>
    <Start />
    <End>10:07:20 AM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>bipasha</UserName>
    <CID>dee469c3-32d9-40dc-8e06-5d0f6907f8a3</CID>
    <Start>10:56:32 AM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>bipasha</UserName>
    <Start />
    <End>10:57:34 AM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>jasim</UserName>
    <CID>26a2a8cf-db1d-490f-90a5-bfd61d35258c</CID>
    <Start>10:57:42 AM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>jasim</UserName>
    <Start />
    <End>10:57:43 AM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>jasim</UserName>
    <CID>26a2a8cf-db1d-490f-90a5-bfd61d35258c</CID>
    <Start>10:57:53 AM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>jasim</UserName>
    <Start />
    <End>10:58:27 AM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>bipasha</UserName>
    <CID>dee469c3-32d9-40dc-8e06-5d0f6907f8a3</CID>
    <Start>10:58:36 AM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>bipasha</UserName>
    <Start />
    <End>10:59:11 AM</End>
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>true</Lock>
    <UserName>bipasha</UserName>
    <CID>4f62d21b-a0b8-42e8-99ed-543a2dca4ad4</CID>
    <Start>11:18:55 AM</Start>
    <End />
  </FileInfo>
  <FileInfo>
    <Category>Widgets</Category>
    <Name>homeCtrl.js</Name>
    <Folder>home</Folder>
    <Lock>false</Lock>
    <UserName>bipasha</UserName>
    <Start />
    <End>11:19:01 AM</End>
  </FileInfo>
</ArrayOfFileInfo>